{
    "extends": "plugin:@-k/base",
    "plugins": ["@-k"],
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "rules": {
        "import/extensions": "off"
    },
    "overrides": [
        {
            "files": "test/**/*.js",
            "rules": {
                "import/no-unresolved": "off"
            }
        }
    ]
}
